/* Шрифты */
.opn-bold {
  font-family: 'Open sans' sans-serif;
  font-weight: 600;
}
.opn-reg {
  font-family: 'Open sans' sans-serif;
  font-weight: 400;
}
/* Цввет для обводки Main-logo и для Бургера */
/* Цвет текста под 'span' */
/* Цвет буквы лого */
/* Установим цвет для Main-text-center, и для текста формы. */
/* Цвет Заголовка */
/* Цвет для формы БГЦ */
/* Цвета блоков */
/* Простые цвета. */
/* Цвета сервиса */
/* Начало */
input:focus,
button:focus,
textarea:focus {
  outline: none;
}
section {
  padding-top: 10%;
  padding-bottom: 10%;
}
.section-header h2 {
  font-size: 50px;
  font-family: 'Open sans' sans-serif;
  font-weight: 600;
}
.section-header h2 span {
  color: #fa9a87;
}
.section-header h2 p {
  font-size: 16px;
}
/* Main photo Header */
header {
  background: #f5f5f5 url(../img/main.jpg) no-repeat center center;
  background-size: cover;
  min-height: 700px;
  height: 100vh;
}
.main-text {
  margin-top: 10%;
  text-align: center;
  /*Сложновато со шрифтами, когда у тебя не настроен быстрый класс...*/
}
.main-text h1 {
  font-size: 50px;
  font-family: 'Open sans' sans-serif;
  font-weight: 600;
  color: #6e6e6e;
}
.main-text h1 span {
  color: #fdb09f;
}
.main-text p {
  padding-left: 15px;
  padding-right: 15px;
}
.main-form {
  margin-top: 10%;
  background-color: #ffffff;
  padding: 35px;
  -webkit-box-shadow: 0px 0px 57px 0px rgba(20, 20, 21, 0.2);
  box-shadow: 0px 0px 57px 0px rgba(20, 20, 21, 0.2);
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -ms-border-radius: 2px;
  -o-border-radius: 2px;
  border-radius: 2px;
}
.main-form-btn {
  background-color: orange;
  border: none;
  padding: 15px 35px;
  color: #ffffff;
  display: block;
  margin: 0 auto;
  margin-top: 30px;
  font-size: 14px;
  -webkit-border-radius: 27px;
  -moz-border-radius: 27px;
  -ms-border-radius: 27px;
  -o-border-radius: 27px;
  border-radius: 27px;
}
.main-form-btn:hover {
  box-shadow: 0px 11px 20px 0px rgba(20, 20, 21, 0.08);
}
.main-form-hr {
  text-align: center;
  font-size: 20px;
  font-family: 'Open sans' sans-serif;
  font-weight: 600;
}
.main-form-hr span {
  color: #fc7254;
}
.main-form input,
.main-form textarea {
  margin-top: 35px;
  width: 100%;
  border: none;
  border-bottom: 1px solid #6e6e6e;
  font-size: 15px;
}
.text-test {
  margin-top: 20px;
}
.main-head {
  margin-top: 45px;
}
.main-logo-hat {
  width: 150px;
  height: 55px;
  border-radius: 5px;
  border: 3px solid #706b73;
  text-align: center;
  line-height: 50px;
  color: #6e6e6e;
}
.main-logo-hat p {
  font-family: 'Open Sans', sans-serif;
  font-weight: 600;
  font-size: 36px;
  color: #706b73;
}
.color-logo {
  color: #fa9a87;
}
.main-navig {
  position: relative;
  float: right;
  width: 30px;
}
.line {
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  display: inline-block;
  position: absolute;
  width: 35px;
  height: 3px;
  background-color: #706b73;
  right: 0;
  top: 50%;
  -webkit-transform: translateY(-1px);
  -ms-transform: translateY(-1px);
  -o-transform: translateY(-1px);
  transform: translateY(-1px);
}
.line:before {
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  position: absolute;
  right: 0;
  top: 50%;
  -webkit-transform: translateY(-7px);
  -ms-transform: translateY(-7px);
  -o-transform: translateY(-7px);
  transform: translateY(-7px);
  content: '';
  width: 35px;
  height: 3px;
  background-color: #706b73;
}
.line:after {
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  position: absolute;
  right: 0;
  top: 50%;
  -webkit-transform: translateY(5px);
  -ms-transform: translateY(5px);
  -o-transform: translateY(5px);
  transform: translateY(5px);
  content: '';
  width: 35px;
  height: 3px;
  background-color: #706b73;
}
/* Process section */
/* Данные для камеры, были скропированы из свойста css, которое предоставил Фотошоп, так более по пацански;) */
.process-btn {
  position: absolute;
  left: 50%;
  bottom: -30px;
  margin-left: -40%;
  border: none;
  color: #000000;
  padding: 18px;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  -ms-border-radius: 50px;
  -o-border-radius: 50px;
  border-radius: 50px;
  background-color: #ffffff;
  width: 80%;
  font-size: 16px;
  font-family: 'Open sans' sans-serif;
  font-weight: 400;
}
.process-btn:hover {
  box-shadow: 0px 6px 14px 0px rgba(20, 20, 21, 0.09);
}
.process-box {
  height: 250px;
  margin-top: 50px;
  color: #ffffff;
  text-align: center;
  padding: 25px;
}
.process-box i.fa-camera-retro {
  font-size: 50px;
  -moz-transform: matrix(0.88035759, -0.29375298, 0.29375298, 0.88035759, 0, 0);
  -webkit-transform: matrix(0.88035759, -0.29375298, 0.29375298, 0.88035759, 0, 0);
  -ms-transform: matrix(0.88035759, -0.29375298, 0.29375298, 0.88035759, 0, 0);
  transform: matrix(0.88035759, -0.29375298, 0.29375298, 0.88035759, 0, 0);
}
.process-box i.fa-magnet,
.process-box i.fa-bug,
.process-box i.fa-cogs {
  font-size: 50px;
}
.process-box h3 {
  margin-top: 15px;
  font-size: 20px;
  font-family: 'Open sans' sans-serif;
  font-weight: 600;
}
.process-box p {
  margin-top: 25px;
  font-size: 15px;
  font-family: 'Open sans' sans-serif;
  font-weight: 400;
}
.process-box:hover {
  box-shadow: 0px 0px 35px 0px rgba(20, 20, 21, 0.21);
  transition: 0.2s;
}
.btn-plus {
  vertical-align: middle;
  width: 15px;
  height: 2px;
  display: inline-block;
  background-color: #000000;
  margin-right: 5px;
}
.btn-plus:before {
  display: inline-block;
  content: '';
  width: 16px;
  height: 2px;
  background-color: #000000;
  position: absolute;
  -webkit-transform: rotate(90deg) translateY(8px);
  -ms-transform: rotate(90deg) translateY(8px);
  -o-transform: rotate(90deg) translateY(8px);
  transform: rotate(90deg) translateY(8px);
}
.box-tomi {
  background-color: #4eb2f7;
}
.box-set {
  background-color: #c049f8;
}
.box-setting {
  background-color: #817eff;
}
.box-lara {
  background-color: #f74770;
}
/* Works section */
.works-row {
  margin-top: 2%;
}
.works-box {
  height: 360px;
  position: relative;
}
.signature {
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  color: #ffffff;
  text-align: center;
  display: -webkit-flex;
  display: flex;
  justify-content: center;
  align-items: center;
  -webkit-justify-content: center;
  -webkit-align-items: center;
  -webkit-transition: opacity 0.2s;
  -o-transition: opacity 0.2s;
  transition: opacity 0.2s;
}
.signature:hover {
  opacity: 1;
}
.sign p {
  font-family: 'Open sans' sans-serif;
  font-weight: 600;
  font-size: 22px;
}
.sign button {
  border: none;
  padding: 15px 35px;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  -ms-border-radius: 50px;
  -o-border-radius: 50px;
  border-radius: 50px;
  background-color: #fc7254;
}
/* services_section */
.services-list {
  list-style: none;
}
.services-list-item {
  display: block;
  margin: 5px auto;
  height: 100px;
  width: 100px;
  text-align: center;
  background-color: #fbfbfb;
}
.services-info {
  margin-left: 75px;
}
.services-info h4 {
  font-size: 30px;
}
.services-info p {
  font-size: 15px;
}
.services-line {
  width: 65px;
  height: 3px;
  background-color: #fa9a87;
  display: inline-block;
  margin-bottom: 10px;
  margin-top: 10px;
}
.services-btn {
  background-color: white;
  border: none;
  border: 1px solid #cccccc;
  padding: 15px 55px;
  color: #706b73;
  margin-top: 60px;
  font-size: 16px;
  -webkit-border-radius: 27px;
  -moz-border-radius: 27px;
  -ms-border-radius: 27px;
  -o-border-radius: 27px;
  border-radius: 27px;
  box-shadow: 0px 11px 20px 0px rgba(20, 20, 21, 0.08);
}
